[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
arrow = "*"
pyppeteer = "*"
black = "*"

[packages]
hug = "*"
pyicu = "*"
dataset = "*"

[requires]
python_version = "3.7"
